.detail_container {
  display: flex;
  margin-top: 5%;
}

.detail_point {
  margin-top: 1px;
  cursor: default;
  padding: 5px;
  padding-left: 30px;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.1),
    0px 1px 2px -1px rgba(0, 0, 0, 0.1);
  background-color: white;
}
